################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/PomodoroTimer/.vs
/PomodoroTimer/bin
/PomodoroTimer/obj
/.vs
